@import "tailwindcss";

@font-face {
    font-family: "Kumbh Sans";
    src: url("../../public/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf") format("truetype");
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@theme {
    --font-display: "Kumbh Sans";

    --color-orange: hsl(26, 100%, 55%);
    --color-orange-100: hsl(25, 100%, 94%);

    --color-slate: hsl(223, 64%, 98%);
    --color-slate-300: hsl(220, 14%, 75%);
    --color-slate-500: hsl(219, 9%, 45%);
    --color-slate-900: hsl(220, 13%, 13%);
}