@font-face {
    font-family: "Kumbh Sans";
    src: url("../assets/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf") format("truetype");
}

@import "tailwindcss";


@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@theme {
    --font-display: "Kumbh Sans";

    --color-orange: hsl(26, 100%, 55%);
    --color-orange-100: hsl(25, 100%, 94%);

    --color-slate: hsl(223, 64%, 98%);
    --color-slate-300: hsl(220, 14%, 75%);
    --color-slate-500: hsl(219, 9%, 45%);
    --color-slate-900: hsl(220, 13%, 13%);
}

[data-is-selected="true"] {
    @apply border-2 border-orange;
}

[data-is-selected="true"]::after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
}

[data-is-selected="false"]::after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transform: scale(0.95);
    transition: all ease 150ms;
}

[data-is-selected="false"]:hover::after {
    transform: scale(1);
    opacity: 1;
}